@import '../../../../scss/variables';
@import '../../../../scss/mixins/texts';
@import '../../../../scss/mixins/ellipsis';

.book {
  border: {
    width: 1px;
    color: $primarycolor-d-20;
    style: solid;
    radius: 0.3125rem;
  }
  width: 25rem;

  .book__header {
    display: flex;
    height: 2.5rem;
    .order {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.3125rem 0.625rem;
      background-color: $primarycolor-d-20;
      @include textmix($white, $bodyfont, 0.875rem, 1, 500, none);
    }
    .title {
      display: flex;
      flex: 1;
      align-items: center;
      background-color: $primarycolor-l-10;
      padding: 0.3125rem;
      cursor: pointer;
      @include textmix($white, $bodyfont, 0.875rem, normal, 500, none);
      @include ellipsis();
      span {
        @include ellipsis();
      }
    }
  }
  .book__content {
    padding: {
      top: 1rem;
      right: 1rem;
      left: 1rem;
    }
    .book__item {
      display: flex;
      align-items: center;
    }
    .book__item + .book__item {
      margin-top: 0.625rem;
    }
    .label {
      min-width: 3rem;
      @include textmix($black, $bodyfont, 0.875rem, 1, 600, none);
    }
    input {
      flex: 1;
      height: 1.25rem;
    }
    .label + input {
      margin-left: 0.3125rem;
    }
  }
  .book__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
}
