@import '../../../../scss/variables';
@import '../../../../scss/mixins/texts';
@import '../../../../scss/mixins/ellipsis';

.member {
  border: {
    width: 1px;
    color: $secondarycolor-d-20;
    style: solid;
    radius: 0.3125rem;
  }
  width: 25rem;

  .member__header {
    display: flex;
    height: 2.5rem;
    .quantity {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.3125rem 0.625rem;
      background-color: $secondarycolor-d-20;
      @include textmix($white, $bodyfont, 0.875rem, 1, 500, none);
    }
    .title {
      display: flex;
      flex: 1;
      align-items: center;
      background-color: $secondarycolor-l-10;
      padding: 0.3125rem;
      cursor: pointer;
      @include textmix($white, $bodyfont, 0.875rem, normal, 500, none);
      @include ellipsis();
      span {
        @include ellipsis();
      }
    }
  }
  .member__content {
    padding: {
      top: 1rem;
      right: 1rem;
      bottom: 1rem;
      left: 1rem;
    }
    .member__item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    .member__item + .member__item {
      margin-top: 0.625rem;
    }
    .label {
      min-width: 3rem;
      @include textmix($black, $bodyfont, 0.875rem, 1, 600, none);
    }
    .value {
      @include textmix($black, $bodyfont, 0.875rem, 1, 400, none);
    }
    .label + .value {
      margin-left: 0.3125rem;
    }
  }
  .member__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
}
