<div class="member">
  <div class="member__header">
    <div class="quantity">{{ id }}</div>
    <div class="title">
      <span title="{{ name }}"> {{ name }}</span>
    </div>
  </div>
  <div class="member__content">
    <div class="member__item">
      <span class="label">Author:</span>
      <span class="value">{{ book.author }}</span>
    </div>
    <div class="member__item">
      <span class="label">Title:</span>
      <span class="value">"{{ book.title }}"</span>
    </div>
  </div>
</div>
